node_modules
.next
out
.env
.env.local
.DS_Store
next-env.d.ts
combined_project_code_frontend.txt
combined_project_code.txt

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
